# SQL

## Vorbereitung des Notebooks

Hier nichts verändern.

In [1]:
# Installiert Paket, damit man SQL-Befehle auf Dataframes anwenden kann
!pip install pandasql

# Lädt Paket, damit man Dataframes (Tabellen in Python) anwenden kann
import pandas as pd
# Lädt Paket, damit man SQL-Befehle auf Dataframes anwenden kann
import pandasql as ps

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\vaich\appdata\local\programs\python\python310\lib\site-packages (from pandasql) (1.22.3)
Requirement already satisfied: pandas in c:\users\vaich\appdata\local\programs\python\python310\lib\site-packages (from pandasql) (1.4.1)
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.34-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 9.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\vaich\appdata\roaming\python\python310\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaich\appdata\local\programs\python\python310\lib\site-packages (from pandas->pandasql) (2021.3)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp310-cp310-win_amd64.whl (101 kB)
     ---------------------------------------- 102.0/102.0 KB ? eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\vaich\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Using legacy 'setup.py install' for pandasql, since package 'wheel' is not installed.
Installing collected packages: greenlet, sqlalchemy, pandasql
  Running setup.py install for pandasql: started
  Running setup.py install for pandasql: finished with status 'done'
Successfully installed greenlet-1.1.2 pandasql-0.7.3 sqlalchemy-1.4.34

## Datenbeschreibung

Performance_data ist ein Datensatz über vorangegangene Leistungstests (VO2_max). Zudem enthält es Informationen über das Geschlecht und Alter der Untersuchten, ob diese rauchen oder nicht, deren Körpergröße und Gewicht, sowie die die Diagnostikerin, die den Test durchgeführt hat. Zudem wird der Erlös erhoben, der bei der Krankenkasse für die Diagnostik verrechnet wurde.

### Aufgabe

Laden die die Daten in einen pandas DataFrame und zeigen Sie diese an.

In [2]:
# Lösung
# Lade die Daten in einen pandas Dataframe namens "performance_data"
performance_data = pd.read_csv("test_data.csv")

# Zeige performance_data an
performance_data

,Unnamed: 0,VO2_max,age,smoker,height,weight,revenue,diagnostician_id,gender
0,0,45,66,True,165,76,30,2,Male
1,1,37,58,False,180,87,32,1,Female
2,2,54,27,False,155,62,29,0,Male
3,3,58,32,False,183,78,26,0,Male
4,4,45,75,True,166,101,10,2,Female
...,...,...,...,...,...,...,...,...,...
195,195,55,24,True,160,74,11,3,Male
196,196,46,17,False,172,92,18,3,Male
197,197,61,52,False,164,84,29,0,Female
198,198,67,46,True,164,78,39,1,Male
199,199,43,39,False,162,107,36,1,Male

# Aufgaben

1. Was sind die höchsten drei Erlöse, die erzielt wurden?

In [11]:
ps.sqldf("SELECT revenue FROM performance_data ORDER BY revenue DESC LIMIT 3")

   revenue
0       49
1       49
2       49

2. Was sind die höchsten drei Erlöse, die mit Nicht-Rauchern erzielt wurden?

In [14]:
ps.sqldf("SELECT revenue FROM performance_data WHERE smoker=0 ORDER BY revenue DESC LIMIT 3 ")

   revenue
0       49
1       48
2       47

3. Wie leistungsfähig sind Personen mit Gewicht über 80kg verglichen mit leichteren Personen? (2 Befehle)

In [26]:
a = ps.sqldf("SELECT AVG(VO2_max) FROM performance_data WHERE age < 80")
b = ps.sqldf("SELECT AVG(VO2_max) FROM performance_data WHERE age > 80")
print(a)
print(b)

   AVG(VO2_max)
0     49.117978
   AVG(VO2_max)
0     48.238095

4. Was ist die Durchschnittsleistung von Frauen über 170cm?

In [33]:
ps.sqldf("""SELECT AVG(VO2_max) FROM performance_data WHERE gender="Female" AND height > 170""")

   AVG(VO2_max)
0     47.390244

5. Wie viel Umsatz haben die einzelnen Diagnostiker:innen erzielt?

In [67]:
def revenue(n):
    return ps.sqldf("""SELECT SUM(revenue) FROM performance_data WHERE diagnostician_id = """ + str(n) )
for n in range (0, 4):
    print(revenue(n))

   SUM(revenue)
0          1012
   SUM(revenue)
0          1494
   SUM(revenue)
0          1562
   SUM(revenue)
0          1708

6. Wie ist die durchschnittliche Leistung von Rauchern und Nicht-Rauchern, die von den Diagnostiker:innen 0 und 1 betreut wurden.

In [73]:
ps.sqldf("SELECT AVG(VO2_max) FROM performance_data WHERE diagnostician_id = 0 OR 1 GROUP BY smoker ")

   AVG(VO2_max)
0     48.990099
1     48.909091